<h1>New Healt Expert</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.healt_expert_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.health_expert_path(@conn, :index) %></span>
