<h1>Edit Healt Expert</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.health_expert_path(@conn, :update, @health_expert)) %>

<span><%= link "Back", to: Routes.health_expert_path(@conn, :index) %></span>
