<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "PetClinic", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/pets.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
  <%# ---- HEADER ---- %>
    <header class={"hero"}>
      <nav>
        <a href="/" class="logo">Consulting room</a>
        <ul class="nav_ul">
          <li><a href="/pets">Pets</a></li>
          <li><a href="/healt_expert ">Veterinarians</a></li>
        </ul>
      </nav>
    </header>

    <main class='mainContainer'>
      <%= @inner_content %>

      <%# ---- FOOTER ----- %>
      <footer class="footer">
          <div class='socialIcons'>
            <i class="fab fa-facebook-f icon"></i>
            <i class="fab fa-twitter icon"></i>
            <i class="fab fa-instagram icon"></i>
          </div>
    
          <div class="attribution">
            © 2022 Copyright Academy. 
            <!--<a href="#">Your Name Here</a>. -->
          </div>
      </footer>

    </main>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/pets.js")}></script>
  </body>
</html>
